h3{
	color: gray;
	text-align: center;
}
.div-form{
    text-align: justify;
    width: 800px;
    margin: 0px 240px;
}

.div-form{
    text-align: justify;
}

.navbar-nav {
    float: right !important;
    margin: 0;
}

.main-home {
	background-image:url('/images/myclinic2.jpg');
	background-size: 1300px 680px;
    background-color: #fff;
        font-weight: bold;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.m-b-md {
    margin-bottom: 402px!important;
}

.main .title{
    font-weight: bold;
    font-size: 50px;
    color: #f0f2f6;

}

.main .links > a {
    color: #e0e9ee;
}

.custom-file-text: (
  placeholder: (
    en: "Choose file...",
    es: "Seleccionar archivo..."
  ),
  button-label: (
    en: "Browse",
    es: "Navegar"
  )
);